#numero{
  color: #eae020;
  text-align: center;
  text-shadow: 5px 5px 0px #b29a01;
  font-size: 200px;
  font-family: 'Nerko One', cursive;
  margin: 0;
}

#descricao{
  text-align: center;
  color: white;
  font-family: 'Nerko One', cursive;
  font-size: 50px;
  margin: 0;
}

#caixote{
  position: absolute;
  top: 40%;
  left: 50%;
  height: auto;
  width: auto;
  transform: translate(-50%, -50%);
}
#viewport{
  height: 100vh;
  width: auto;
}

body{
  background-color: #13c7ef;
}
