# My LinkedIn got blocked
_September 11, 2026_

We learn in Entrepreneurship classes about testing the market first before making a solution, in-bound marketing, and etc. So, I made a landing page about a solution/service from a "company" that I was starting, and I followed to the Linkedin Ad Campaign Manager to advertise it. However, after entering all the details in the most confusing and overwhelming website I have used, I finally entered the payment information to upload the campaign.

Boom, I got logged out of my account and now I can't access it anymore. I tried to login again and even went through their steps to verify that I am me, but all I got was an email informing that the customer service will contact me soon. 

I hope it is easy to get my account back...
