@import "tailwindcss";
@import "@fontsource/jersey-10";

@theme {
  --font-jersey: "Jersey 10", sans-serif;
}

body {
  font-family: var(--font-jersey);
  overflow-x: hidden;
}

/* @layer base {
  a {
    color: #4a90d9;
    text-decoration: underline;
  }
} */

iconify-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1em;
  height: 1em;
}