@import "tailwindcss";
@import "@fontsource/jersey-10";

@theme {
  --font-jersey: "Jersey 10", sans-serif;
}

body {
  font-family: var(--font-jersey);
  overflow-x: hidden;
}

iconify-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
}